# Spring
HELP.md
target/
!text-adventure-game-war/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/